body{
  overflow: auto;
}
body::-webkit-scrollbar{width:0;}

.bg{
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}
.bg img{
  min-height: 100%;
  width: 100%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.open{
    color: #fff;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-left: 1.5%;
    margin-top: 10px;  
}
.open:hover,
.open:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

#MsgTitle{
  font-size:50px;
  color:#fff;
  font-family:'Schoolbell'; 
  font-style: italic;
  font-weight:bold;
  margin-left:1.5%;
  margin-top:10px;
  margin-bottom:5px;
  float: left;
}

.MsgTo{
  margin-right: 1.5%;
  float:right;
}

.MsgTo input{
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 20px;
  border-radius:50%;
  border: 3px outset #fff;
  display:inline-block;
  width:55px;
  height:55px;
}

.MsgTo input:hover{
  cursor:pointer;
  opacity:0.6;
}
.msgHead{
  margin-left: 2%;
  margin-top: 6px;
  border-radius:50%;
  border: 1px inset #898989;
  display:inline-block;
  width:40px;
  height:40px; 
  float: left;
}
#MsgHistory{
  margin:0 auto;
  width:90%;
  height:600px;
  border-radius: 8px;
  border: 8px solid white;
}

#MsgUpBar{
  height: 45px;
  border-bottom: 5px solid white; 
}

#teacherName{
  height: 45px;
  width:40%;
  float:left;
  font-size: 20px;
  color: white;
  font-family: 'Noto Sans TC',sans-serif;
  padding: 5px 20px 10px 20px;
  text-align: left;
}
#Tools{
  height: 45px;
  width:40px; 
  float:right;
  margin-left: 10px;
  padding: 5px; 
}
#MsgContent{
  height: 540px;
  overflow: auto;
}
#MsgContent::-webkit-scrollbar{width:0;}
.studentMsg{
  font-family: 'Noto Sans TC',sans-serif;
  font-size: 18px;
  float: right;
  margin-right: 2%;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  color: #fff;
  background-color: #0080ff;
  border-radius: 4px;
  border:1px solid #0080ff;
  max-width: 50%;
}
.teacherMsg{
  font-family: 'Noto Sans TC',sans-serif;
  font-size: 18px;
  float: left;
  margin-left: 1%;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  color:#000;
  background-color: #adadad;
  border-radius: 4px;
  border:1px solid #adadad;
  max-width: 50%;
}
.MsgImg{
  width:auto;
  height:auto;
  max-width: 40%;
  max-height: 40%;
  border: 1px solid #333;
  margin-top: 5px;
  margin-left: 15%;
  border-radius: 20px;
}
.borderline{
  color:black;
  background-color: #ccc;
  border:1px solid #999;
  border-radius: 16px;
  padding: 2px 30px;
  font-family: 'Noto Sans TC',sans-serif;
  font-weight: 300;
}
.MsgTime{
  color:white; 
  font-size:10px;
  font-family:'Noto Sans TC',sans-serif;
  margin-top:14px;
}
#EnterMsg input[type="textarea"]{
  margin-top: 17px;
  margin-left:6%;
  margin-bottom: 30px;
  height:20px;
  padding: 10px 12px;
  font-size: 16px;
  border: 3px ridge #fff;
  border-radius: 8px;
  width: 60%;
  font-family: 'Noto Sans TC',sans-serif;
  float: left;
  word-break: break-all;
}

#SendMsg{
  margin-top: 18px;
  margin-right:6%;
  border-radius: 50%;
  border:3px outset #fff;
  height: 45px;
  width:45px;
  float:right;
  background-image: url('Icon/send-icon.png');
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
}
#SendMsg:hover{
  background-color: #aaa;
  cursor:pointer;
}

#SendPic{
  margin-top:18px;
  margin-right: 2%;
  border-radius: 50%;
  border:3px outset #fff;
  width:40px;
  height:40px;
  float: right;
  background-image: url('Icon/UploadPic.png');
  background-size: 86%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
}
#SendPic:hover{
  background-color: #aaa;
  cursor:pointer;
}
/* #SendPic:hover{background-color: #aaa;}*/
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }
