body{
  overflow: auto;
}
body::-webkit-scrollbar{width:0;}
/*背景*/
#Annbg{
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}
#Annbg img{
  min-height: 100%;
  width: 100%;
}
/*公佈欄區塊*/
#LAnnTitle{
  font-size:60px;
  color:#fff;
  font-family:'Schoolbell'; 
  font-style: italic;
  font-weight:bold;
  margin-left:1.5%;
  margin-top:20px;
  margin-bottom:5px;
  width:40%;
}

#LAnnContent{
  border:17px ridge #bbb;
  width:97%;
  margin:0 auto;
	position:relative;
	padding-bottom:50%;
}

div#LAnnContent>div{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

/*舊公告區塊*/
#OAnnTitle{
  font-size:55px;
  color:#fff;
  font-family:'Schoolbell'; 
  font-style: italic;
  margin-left:1.5%;
  margin-top:15px;
  width:61%;
  float:left;
}

#OAnnContent{
  margin-left:2%;
  margin-top:5px;
  margin-bottom:20px;
  float:left;
  overflow: auto;
  border-collapse: collapse;
  width:60%;
  color:#fff;
}

#OAnnContent, th, td{
  padding: 4px;
  border-bottom:1px solid #fefefe;
  font-family: 'Noto Sans TC',sans-serif;
}

tr:hover{
  background-color: #777;
  cursor: pointer;
}
.pageButtons{
  width:60%;
  float: left;
  margin-left:2%;
  text-align: center;
}
.elsePage{
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px outset #fff;
  cursor:pointer;
}
.elsePage:hover{
  background-color: #777;
  border: 2px outset #aaa;  
  color:#fff;
}
.curPage{
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px outset #aaa; 
  background-color: #777;
  color:#fff;
}

/*日曆區塊*/
#CalendarTitle{
  font-size:55px;
  color:#fff;
  font-family:'Schoolbell'; 
  font-style: italic;
  margin-top:15px;
  width:20%;
  float:left;
}
#Calendar{
  width:34%;
  margin-top: 5px;
  margin-right: 1.5%;
  margin-bottom:20px;
  float:right;
  height:400px;
  font-size:15px;
  color:#ffffff;
  font-weight:bold;
  background-color:#999;
  border:7px dashed #555;
}
#Calendar iframe{
  border:0;
  width: 100%;
  height:400px;
}



/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }